body {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        "instruct instruct instruct"
        "left     time     right"
        ".    check    . ";

    background-color: #ffffff;
    font-family: 'Ubuntu Mono', monospace;
}

[data-no-scores] {
    grid-template-areas:
        "instruct"
        "time"
        "check";
}

[data-no-scores] > * > h1#timer_time {
    font-size: 17em;
}

[data-no-scores] > .score_side {
    display: none;
}

.score_side {
    display: grid;
    grid-template-areas:
        "title"
        "plus"
        "number"
        "minus";
    text-align: center;
}

#timer {
    display: grid;
    grid-area: time;
    grid-template-areas:
        "empty empty"
        "time  time"
        "start reset";
    text-align: center;
}

#timer_start {
    grid-area: start;
}

#timer_reset {
    grid-area: reset;
}

#leftscore {
    grid-area: left;
}

#rightscore {
    grid-area: right;
}

h1 {
    color: #000000;
    font-size: 8em;
}

h1#timer_time {
    grid-area: time;
    font-size: 10em;
}

h1.score {
    grid-area: "number";
}

h2 {
    grid-area: "title";
    color: #000000;
    font-size: 3em;
}

.button {
    cursor: pointer;
    user-select: none;
}

.plus {
    grid-area: "plus";
    color: #5a5;
    font-size: 2em;
}

.minus {
    grid-area: "minus";
    color: #d55;
    font-size: 2em;
}

#instructions {
    grid-area: instruct;
    color: #ccc;
    text-align: center;
    transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    -o-transition: .2s
}

#instructions:hover {
    color: #000000;
    transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    -o-transition: .2s
}

#check {

    grid-area: check;
    text-align: center;
    padding-top: 5vh

}
